<%= form_for([@question, @answer]) do |f| %>
  <% if @answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
      <% @answer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :head %><br>
    <%= f.text_field :head %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div>
    <%= f.fields_for :attachments do |a| %>
    <%= a.label :file %><br>
    <%= a.file_field :file %> 
    <% end %> 
  </div>
  <div class="field">
    <%= f.label :sources %><br>
    <%= f.text_area :sources %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>