<p>
  <strong>mail:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>админстово:</strong>
  <%if @user.admin %> 
  <%= 'заражён' %>
  <% else %>
  <%= 'здоров' %>
  <%end%>
  <%= form_for [:admin, @user] do |f| %>
  <%= f.check_box :admin %>
    <%= link_to 'убить', [:admin, @user], method: :delete, data: { confirm: 'этот грех будет на твоей совести' }  %> 
    <%= submit_tag 'Save' %>
  <% end %>
  
</p>
  